<!DOCTYPE html>
<html lang = "en">
	 <head>
	   <link rel ="stylesheet"  type = "text/css" href = "resources/css/home.css">
	   <link rel ="stylesheet"  type = "text/css" href = "resources/css/global.css">
	 </head>
	 <body>
 		<div class= "container">
 			<div class =" up">
 		  		<h2>TITLE</h2>
 		  	</div>

 		  	<!--login form-->
 		  	 <div class= "Regform">
 		  	 	<h2><span>S</span>ign <span>U</span>p</h2>
 		  	 	<br><br><br>
 		  	 	<form method="POST" action="registration" class="register">
 		  	 		<label for = "Fname">First Name</label>
 		  	 		<br>
 		  	 		<input id="Fnamesignup" name="fname" required="required" type="text"/>
 		  	 		<br>
 		  	 		<label for = "Lname">Last Name</label>
 		  	 		<br>
 		  	 		<input id="Lnamesignup" name="lname" required="required" type="text"/>
 		  	 		<br>
 		  	 		<label for = "Email">Email</label>
 		  	 		<br>
 		  	 		<input id="Emailsignup" name="email" required="required" type="text"/>
 		  	 		<br>
					<label for = "Address">Address</label>
 		  	 		<br>
 		  	 		<input id="Addresssignup" name="address" required="required" type="text"/>
 		  	 		<br>
 		  	 		<label for = "Contact">Contact Number</label>
 		  	 		<br>
 		  	 		<input id="Csignup" name="contactnum" required="required" type="text"/>
 		  	 		<br>
 		  	 		<label for = "Pass">Password</label>
 		  	 		<br>
 		  	 		<input id="Psignup" name="pass" required="required" type="password"/><span id="pass"></span>
 		  	 		<br>
 		  	 		<label for = "ConPass">Confirm Password</label>
 		  	 		<br>
 		  	 		<input id="Cpsignup" name="cpass" required="required" type="password"/>
 		  	 		<br>
 		  	 		<tr> <td><input id="button" type="submit" name="submit" value="Sign-Up"></td>
					</tr>
 		  	 	</form>
 		  	 </div>
 		  	 </div>

 			</div>


	 </body>
</html>
